.page{
    width: 100vw;
    height:100vh;
    display: flex;
    background-image: url('../Assets/background.png');
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.page h2{
    font-size: 2em;
    margin-bottom: 30px;
}
.page input,button{
    width: 100%;
    margin: 10px 0;
    padding:10px 5px;
    border-radius: 7px;
    border: 2px solid rgb(226, 226, 226);
}
#login-container{
    background-color: white;
    box-shadow: 0 0 10px black;
    padding:30px 50px;
    width:500px;
    height:max-content;
   
}
#login-container button{
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
    color:white;
    background-color:#3b2e6b ;
    transition:500ms;
    border: none;
}
#login-container button:hover{
    background-color:#1f173d ;

}
#other-actions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#or{
    padding-top: 20px;
    font-size: 1.5em;
}
.advanced-search{
    position: absolute;
}