.pet-info{
    padding:0 50px;
    margin: 50px 0;
}
.pet-info img{
    width: 30px;
    height:30px;
    margin-right:10px;
    vertical-align: middle;
}
.pet-info div{
    display: flex;
}
.pet-info span{
    margin:10px 0;
    font-size: 1.5em;
}
.pet-info div span{
    
}
.pet-info>span{
    font-size: 1.8em;
    font-weight: 700;

}
.pet-info div:first-child img{
    position: static;
    height:40px;
    width: 40px;
    margin:auto 0;
    margin-left: 10px;
}
.pet-info h1{
    color:#463680;
}
.pet-info button{
    width: auto;
    padding:15px;
    cursor: pointer;
    background-color: #463680;
    color:white;
    font-size: 1.3em;
    font-weight: 500;
}
.pet-info p{
    font-size: 1.5em;
}