.image-index{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height:50px;
    padding: 0 10px;
    background-color: rgb(39, 36, 36);
    width: fit-content;
    left:50%;
    transform: translateX(-50%);
    border-radius: 10px;
    backdrop-filter:blur(50px);
    -webkit-backdrop-filter: blur(50px);
}
.image-index div{
    backdrop-filter:blur(50px);
    -webkit-backdrop-filter: blur(50px);
    cursor: pointer;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin:0 10px;
}
.active{
    background-color: white!important;
}
@media (max-width:660px) {
    .image-slider img{
        padding:0;
    }
}
@media (max-width:560px){
    .pagination div{
        padding:5px 20px;
    }
}