.navbar .user img{
    
    width: 13px !important;;
    height: 13px !important;;
    cursor: pointer;
}
.navbar .user a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a>img{
    transform: scale(3.5);
}
.navbar{
    height:50px;
}
.navbar{
    padding-right:40px!important;
}
.navbar span{
    color:white;
    background-color: #1f173d; 
    padding: 10px;
    font-size: 0.9em;
    border-radius: 10px;
}
.user{
    margin-left: 60px;
}
.dropdown{
    background-color: #e8e8e8;
    position: absolute;
    border-radius: 0 0 10px 10px;
    display: block;
    z-index: 3;
    color: #1f173d;
    transform: translate(-30px,140px);
    padding:0;
    animation: fade ease 500ms;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{opacity: 1;}
}
.dropdown div{
    min-width:100%;
    padding:20px 30px;
    display: flex;
    width: max-content;
    transition: 500ms;
}
.dropdown span{
    background-color: transparent;
    padding:0;
    color:#1f173d
}
.dropdown a{
    width:auto;
    
}
.dropdown div:hover{
    background-color: #fdfdfd;
}
.dropdown img{
    margin:auto 0
}