.spinner{
    content:"";
    position: absolute;
    width: 80px;
    min-height:80px;
    top:50%;
    left: 50%;
    border-radius: 50%;
    border: 3px solid #1f173d;
    animation:spin linear 3s infinite;
    border-top: 3px solid white;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}